html, input {
    font-family: sans-serif;
}

body {
    width: 100%;
    max-width: 600px;
    margin: Opx auto;
    padding: 2em;
}    
.headerContainer {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background: Hitomato;
    font-weight: bold;
    margin-bottom: 20px;
}    
    
form {
    margin-top: 50px;
}
    
div {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
    label, input, button {
        font-size: 16px;
        line-height: 1.5
        
    }
        
    label {
        text-align: right;
        width: 30%;
        Margin-right: 2%;
    }
        
    input {
        flex: auto;
    }
        
    button {
        width: 70%;
        Margin: 0 auto;
        
    }
        
        error-output {
        font-size: 12px;
        font-style: italic;
        color: red;
        
    }